@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 글로벌 전역 폰트 설정 */
* {
  box-sizing: border-box;
}


/* 기본 폰트 스타일 (body, html) */
html,
body {
  font-family: 'Pretendard', sans-serif;
  /* 기본 폰트 설정 */
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  /* 기본 텍스트 색상 */
}

/*font, color, font-bold 순으로 작성*/

/* font size별 클래스 */

.font0 {
  font-size: 0.75rem;
  /* text-sm 12px */
}

.font1 {
  font-size: 0.875rem;
  /* text-sm 14px */
}

.font15 {
  font-size: 1.0rem;
}

.font2 {
  font-size: 1.25rem;
  /* text-xl 20px */
}

.font3 {
  font-size: 1.5rem;
  /* text-2xl 24px */
}

.font35 {
  font-size: 2.0rem;
}

.font4 {
  font-size: 2.25rem;
  /* text-4xl 36px */
}

.font45 {
  font-size: 2.5rem;
}

.font5 {
  font-size: 3rem;
  /* text-5xl 48px */
}

.font55 {
  font-size: 3.5rem;
  /* 52px*/
}

.font6 {
  font-size: 3.75rem;
  /* text-6xl 60px */
}

.font65 {
  font-size: 4.15rem;
}

.font7 {
  font-size: 4.5rem;
  /* text-7xl 72px */
}



/* font color 클래스 */

.color1 {
  color: #3081F7;
  /* 강조 블루 1 */
}

.color2 {
  color: #20C4F4;
  /* 강조 블루 2 */
}

.color3 {
  color: #6B7280;
  /* text-gray-500 연한 회색 - 기타 설명 등 */
}


.color4 {
  color: #4A4A4A;
  /* text-gray-700 진한 회색 - hover */
}

.color5{
  color: #FFFFFF
}

/* gradient.css */
@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  animation: gradient-text 3s ease infinite;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.wave-char, .wave-text {
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}